.page {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', serif !important;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.main {
  padding-top: 40px;
}