header.header.d-flex.justify-content-between.align-items-center
    a.logo.d-flex.justify-content-between.align-items-center(href='/users' title='На главную')
        img.logo__image(src='/../images/static/logo.png' alt='logo')
        h1.logo__title.m-0=title
    h2.subtitle.m-0=subtitle